# Игнорируем папки с результатами сборки (они генерируются заново при каждом билде)
[Bb]in/
[Oo]bj/

# Игнорируем весь мусор, кэши и настройки, которые создает JetBrains Rider
.idea/
*.sln.iml
*.rsuser

# Игнорируем локальные настройки пользователя (чтобы не тянуть их к другим разработчикам или на другой комп)
*.user
*.suo

# Результаты тестов xUnit и отчеты о покрытии кода (включая Rider dotCover)
[Tt]est[Rr]esults/
*.coverage
*.coveragexml
